.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button {

    border-radius: 8px;

    font-weight: 500;

    transition: .2s ease;
}

.mat-mdc-button:hover,
.mat-mdc-raised-button:hover,
.mat-mdc-outlined-button:hover {

    transform: translateY(-1px);

}