.collapsable label,
.collapsable a {
    display: block;
    &:hover {
        color: #2a9d8f;
    }
}

.collapsable label {
    cursor: zoom-out;
    // Arrange the items in the horizontal line.
    display: flex;
    align-items: center;
    gap: 0.5em;

    // &::before {
    //     // content: "🐵";
    //     content: url(/icons/eye.svg) / "open eye";
    //     width: 20px;
    // }
    .count {
        display: none;
    }
}

.collapsable.collapsed label {
    cursor: zoom-in;
    color: darkgray;
    // &::before {
    //     // content: "🙈";
    //     content: url(/icons/eye-closed.svg) / "closed eye";
    // }
    .count {
        display: unset;
        &::after {
            content: " hidden";
        }
    }
}

.collapsable.collapsed > ul{
    display: none;
}
