
html,
body {
    margin: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
}
html {
    font-size: 16px;
}
body {
    padding: 0.5em;
    box-sizing: border-box;
    color: 222;
    // Set by Material design.
    // Not wanted for now, we keep the browser's choice for font.
    // The font of the material-select remains that one though... 🤷 ah well.
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
}

// Remove :visited style from local links, like "/download".
// Does not affect external links like "https://example.org".
:visited[href^="/"] {
    color: LinkText;
}
