<fieldset class="search">
    <legend>Filters</legend>

    @for (label of allLabels; track $index) {
        @if (label.name === 'Country') {
            <mat-form-field>
                <mat-label>{{ label.name }}</mat-label>
                <mat-select (selectionChange)="filterChanged(label, $event)">
                    <mat-option>All</mat-option>
                    @for (value of label.values; track $index) {
                        <mat-option value="{{ value }}">{{ value }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        } @else {
            <mat-form-field>
                <mat-label>{{ label.name }}</mat-label>
                <mat-select (selectionChange)="filterChanged(label, $event)">
                    <mat-option>All</mat-option>
                    @for (value of label.values; track $index) {
                        <mat-option value="{{ value }}">{{ value }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        }
    }

    <label class="textualSearch">
        <span>Search:</span>

        <input type="search" class="form-control"
            autofocus
            placeholder="e.g. Chappeloise"
            name="searchText" id="scoreSearch"
            [(ngModel)]="searchText"
            (ngModelChange)="searchTextChanged($event)" />
    </label>

    <div class="filter-note">Note : Some of the dances and musics are shared between 2 or more countries. This will be corrected in the near future, we just have to learn how to program it!</div>
</fieldset>
