
@let typeOfDanceMetadata = score.labels.get('Type of dance') ?? score.typeOfDance;
@let country = score.labels.get('Country');
@let composerMetadata = score.labels.get('Composer');
@let danceGeometryMetadata = score.labels.get('Dance geometry') ?? score.danceGeometry;
@if(typeOfDanceMetadata || country || composerMetadata || danceGeometryMetadata) {
    <dl class="metadata-grid">
        @if (typeOfDanceMetadata) {
            <dt>Type of dance</dt>
            <dd><a [routerLink]="['/categories', typeOfDanceMetadata]">{{ typeOfDanceMetadata }}</a></dd>
        }
        @if (country) {
            <dt>Country</dt>
            <dd>{{ country }}</dd>
        }
        @if (composerMetadata) {
            <dt>Composer</dt>
            <dd>{{ composerMetadata }}</dd>
        }
        @if (danceGeometryMetadata) {
            <dt>Dance geometry</dt>
            <dd>{{ danceGeometryMetadata }}</dd>
        }
    </dl>
} @else {
    <p class="missing data">No known type, dance geometry, country, or composer.</p>
}

<p class="download">
    Download as:
        <a href="/{{ score.files.mscz }}" target="_blank">MSCZ</a> 
        <a href="/{{ score.files.pdf }}" target="_blank">PDF</a>
</p>
